.title {
  text-align: center;
}

.desc {
  text-align: center;
  text-overflow: ellipsis;
}

.videohold {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
}
#newVid {
  background-color: beige;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

#newVid:hover {
  cursor: pointer;
}

#twenty {
  background-color: beige;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

#twenty:hover {
  cursor: pointer;
}

body {
  background-image: linear-gradient(#131862, #2e4482, #546bab);
  background-size: cover;
  margin: 0%;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

header {
  padding: 20px;
}
